doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      div
        div(onclick='home()') Home 
        div(id='cart' onclick='cart()') Cart 
        div(id='myOrders' onclick='orders()') My Orders 
        div(id='pendingOrders' onclick='pendingOrders()') Pending Orders
        div(id='allAccounts' onclick='allAccounts()') All User Accounts
        div(id='signup' onclick='signup()') Sign Up 
        div(id='login' onclick='login()') Log In
        div(id='logout' onclick='logout()') Log Out
      div 
        h5(id='userName')
    block content


  script(src='../javascripts/layout.js')