extends layout

block content
  h1 Login
  hr
  
  input(id='userNameInput' type='text', placeholder='Enter userName')
  input(id='passwordInput' type='text', placeholder='Enter Password')
  button(type='button' onclick=`loginSubmit()`) Click to Log In



  script(src='../javascripts/login.js')
