extends layout

block content
  h1 Sign Up
  hr
  
  input(id='userNameInput' type='text', placeholder='Enter userName')
  input(id='emailInput' type='text', placeholder='Enter Email')
  input(id='passwordInput' type='text', placeholder='Enter Password')
  button(id='signupBtn' onclick='signupSubmit()') Click to Sign Up


  script(src='../javascripts/signup.js')
