<!DOCTYPE html>
<html>
    <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    <body>
        <h1>Display Products by Brands</h1>
        <div onclick="displayProductDetails([object Object],[object Object], 1)">
            <img src="" alt="thumbnail">
        </div>
        <h3>a</h3>
        <hr><br><br>
        <div onclick="displayProductDetails([object Object],[object Object], 2)">
            <img src="" alt="thumbnail">
        </div>
        <h3>b</h3>
        <hr>
        <br>
        <br>
    <script src="../javascripts/products.js"></script>
</body></html>